<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="2px">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Condition</th>
      </tr>
      {% for i in people_list %}
      <tr class="{% cycle 'odd' 'even' 'another' %}">
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{% if i.age > 30 %} success {% else %} decrease {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </body>

  <style>
    .even {
      background-color: cadetblue;
    }
    .odd {
      background-color: cornflowerblue;
    }
    .another {
      background-color: green;
    }
  </style>
</html>
