{% extends 'base.html' %} {%block start %}

<form method="post" enctype="multipart/form-data">
  {% for message in messages %} {% if message.success %} class="{{ message.tags
  }}"{% endif %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% csrf_token %}
  <h3>Login</h3>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
    />
    <p>Do not have account?</p>
    <a style="color: red; cursor: pointer" href="/register/">Register</a>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock %}
